<h1>Services</h1>
<%# table with services %>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Prix</th>
      <th>Description</th>
      <th>Durée</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.price  %> <small>€</small></td>
        <td><%= service.description %></td>
        <td><%= service.duration %> <small>min</small> </td>
        <td>
          <%= link_to t('services.index.edit'), edit_service_path(service) %>
          <%= link_to t('services.index.delete'), service, method: :delete, data: { confirm: t('services.index.confirm') } %>
        </td>
      </tr>
    <% end %>
  </tbody>
