<h1>Services</h1>
<%= link_to "Retour", root_path %>
<%= simple_form_for @service do |f| %>
  <%= f.input :name, label: 'Nom du service' %>
  <%= f.input :price, label: 'Prix' %>
  <%= f.input :description, label: 'Description du service' %>
  <%= f.input :duration, label: 'Durée' %>
  <%= f.submit "Soumettre" %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prix</th>
      <th>Description</th>
      <th>Durée</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr data-controller="service-edit">
        <td data-service-edit-target="name" class="display"><%= service.name %></td>
        <td data-service-edit-target="price" class="display"><%= service.price %> <small>€</small></td>
        <td data-service-edit-target="description" class="display"><%= service.description %></td>
        <td data-service-edit-target="duration" class="display"><%= service.duration %> <small>min</small></td>
        <td class="display">
          <%= link_to 'Modifier', '#', data: { action: 'service-edit#edit' } %>
          <%= link_to "Suprimer", service_path(service), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Etes vous sûr ?"
                  } %>
          <%#= link_to 'Delete', service, method: :delete, data: { confirm: 'Etes vous sûr ?' } %>
        </td>
        <td class="form d-none" data-service-edit-target="form">
          <%= form_with(model: service, local: false, html: { class: 'edit-form', data: { action: 'submit->service-edit#save' } }) do |f| %>
            <%= f.text_field :name %>
            <%= f.text_field :price %>
            <%= f.text_field :description %>
            <%= f.text_field :duration %>
            <%= f.submit 'Save' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
