<!-- In your navbar HTML, e.g., _navbar.html.erb -->
<nav class="navbar navbar-expand-lg navbar-light navbar-lewagon">
  <%# <div class="container-fluid"> %>
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#fullPageDropdown" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <%= link_to "Accueil", "#home", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Catalogue", "#catalog", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Mode d'emploi", "#instructions", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", "#contact", class: "nav-link" %>
        </li>
        <% if user_signed_in? %>
          <!-- Add signed-in user links here -->
          <% if current_user.has_role?("admin") %>
            <li class="nav-item">
              <%= link_to "Products", products_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Services", services_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Rendez vous", appointments_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item dropdown">
            <%= link_to "#", class: "nav-link dropdown-toggle no-caret", id: "navbarDropdown", role: "button", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
              <i class="fa-regular fa-user avatar"></i>
            <% end %>
            <ul class="dropdown-menu dropdown-menu-end rounded-dropdown" aria-labelledby="navbarDropdown">
              <li>
                <%= link_to "Mon profile", edit_user_registration_path, class: "dropdown-item" %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= link_to "Me déconecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </li>
            </ul>
          </li>
        <% else %>
        <!-- commenting out the following lines for PROD for the time being -->

          <%# <li class="nav-item dropdown"> %>
            <%#= link_to "#", class: "nav-link dropdown-toggle no-caret", id: "navbarDropdown", role: "button", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
              <%# <i class="fa-regular fa-user avatar"></i> %>
            <%# end %>
            <%# <ul class="dropdown-menu dropdown-menu-end rounded-dropdown" aria-labelledby="navbarDropdown"> %>
              <%# <li> %>
                <%#= link_to "Me conecter", new_user_session_path, class: "dropdown-item" %>
              <%# </li> %>
              <%# <li><hr class="dropdown-divider"></li> %>
              <%# <li> %>
                <%#= link_to "M'enregister", new_user_registration_path, class: "dropdown-item" %>
              <%# </li> %>
            <%# </ul> %>
          <%# </li> %>
        <% end %>
      </ul>
    </div>
  <%# </div> %>
</nav>

<!-- Full-page dropdown modal -->
<div class="modal fade" id="fullPageDropdown" tabindex="-1" aria-labelledby="fullPageDropdownLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <%= link_to "#", class: "navbar-brand" do %>
          <%= image_tag "logo.png" %>
        <% end %>
        <button type="button" class="navbar-toggler" data-bs-dismiss="modal" aria-label="Close">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <!-- Add your dropdown content here -->
        <ul class="list-group">
          <li class="list-group-item" data-bs-dismiss="modal">
            <%= link_to "Catalogue", "#catalog", class: "nav-link" %>
          </li>
          <li class="list-group-item" data-bs-dismiss="modal">
            <%= link_to "Mode d'emploi", "#instructions", class: "nav-link" %>
          </li>
          <li class="list-group-item" data-bs-dismiss="modal">
            <%= link_to "Contact", "#contact", class: "nav-link" %>
          </li>

          <% if user_signed_in? %>
            <!-- Add signed-in user links here -->
            <% if current_user.has_role?("admin") %>
              <li class="list-group-item" data-bs-dismiss="modal">
                <%= link_to "Products", products_path, class: "nav-link" %>
              </li>
              <li class="list-group-item" data-bs-dismiss="modal">
                <%= link_to "Services", services_path, class: "nav-link" %>
              </li>
              <li class="list-group-item" data-bs-dismiss="modal">
                <%= link_to "Rendez vous", appointments_path, class: "nav-link" %>
              </li>
            <% end %>

            <li class="list-group-item"><hr class="modal-divider"></li>

            <li class="list-group-item" data-bs-dismiss="modal">
              <%= link_to "Mon profile", edit_user_registration_path, class: "nav-link" %>
            </li>
            <li class="list-group-item" data-bs-dismiss="modal">
              <%= link_to "Me déconecter", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
            </li>
          <% else %>

            <!-- commenting out the following lines for PROD for the time being -->
            <%# <li class="list-group-item"><hr class="modal-divider"></li> %>

            <%# <li class="list-group-item" data-bs-dismiss="modal"> %>
              <%#= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
            <%# </li> %>
            <%# <li class="list-group-item" data-bs-dismiss="modal"> %>
              <%#= link_to "S'inscrire", new_user_registration_path, class: "nav-link" %>
            <%# </li> %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
