<div class="full-width-container home-container" >
  <%= render "shared/navbar" %> <!-- Navbar will be fixed on top -->
  <%= render "shared/banner" %>
  <%= render "shared/catalog" %>
  <%# <%= render "shared/catalog_copy" %>
  <%= render "shared/instructions" %>
  <%#= render "shared/contact" %>
  <%= render "shared/footer" %>
</div>
